
<div class="container-fluid">   
        <div class="Row">
    <div class = "page-header">
            <h3>
            User Story Reader - 
            <small>Custom Grid Component</small>
            </h3>
    </div> 
</div>
<div class="container-fluid">   
    <div class="Row">
        <div class="col-md-12">
            <data-grid [rows]="userData" [columns]="columns" [pageSize]="pageSize" (datagridEvent)="datagridEvent($event)">
            </data-grid>
        </div>
    </div>
</div>

<div class="container-fluid">   
        <div class="Row">
    <div class = "page-footer pull-right">
        <h3><small>https://plnkr.co/edit/0uiPme1aPp7VqjIvqt1b?p=preview</small></h3>
        <br>
        <h3><small>https://github.com/sonyshankar2k/UserStory</small></h3>
    </div> 
</div>